<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c48fb43c-d4c0-4ff4-92d0-ea639275e2ee" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="7d02329f-b685-44d4-87e0-229e49e5043f" >
        <wsc:connection wsdlLocation="organization-service.wsdl" service="OrganizationServiceBeanService" port="OrganizationServiceBeanPort" address="http://localhost:8080/ws/organization" />
    </wsc:config>

    <flow name="getAll" doc:id="968edd93-685d-4467-a0ea-bb228bb4dbb4" >
        <http:listener doc:name="Listener" doc:id="163747bb-f9e9-4c6e-b781-12654ebb1a38" config-ref="HTTP_Listener_config" path="/api/organizations" allowedMethods="GET">
            <http:response >
                <http:headers ><![CDATA[#[output application/java
                ---
                {
                    "Access-Control-Allow-Origin" : "*",
                    "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                    "Access-Control-Allow-Headers" : "*",
                    "Access-Control-Allow-Credentials" : "true"
                }]]]></http:headers>
            </http:response>
        </http:listener>

        <ee:transform doc:name="Transform Message" doc:id="4769dd7a-dbc9-4f0b-a840-1dc3e2b53ade">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output text/xml skipNullOn="everywhere"
                ns web http://organization.lab4.soa/
                ---
                {
                     web#getFilteredOrganizations: {
                        web#creationDate: attributes.queryParams.creationDate,
                        web#annualTurnover: attributes.queryParams.annualTurnover,
                        web#sort: attributes.queryParams.sort
                     }
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <wsc:consume operation="getFilteredOrganizations" doc:name="Consume" doc:id="395ca49b-6a8a-4aa0-a2a2-2f1307719cf2" config-ref="Web_Service_Consumer_Config"/>

        <!-- Преобразование XML в JSON -->
        <ee:transform doc:name="XML to JSON" doc:id="8de540c2-6f76-4954-99b8-432f76a15159">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "organizations": payload.body.getFilteredOrganizationsResponse.*organizations map (org) -> {
    "id": org.id,
    "name": org.name,
    "fullName": org.fullName,
    "annualTurnover": org.annualTurnover,
    "employeesCount": org.employeesCount,
    "coordinates": {
      "x": org.coordinates.x,
      "y": org.coordinates.y
    },
    "creationDate": org.creationDate,
    "officialAddress": {
      "zipCode": org.officialAddress.zipCode
    },
    "orgType": org.orgType
  }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>



    <flow name="getOrganization" doc:id="47d06da2-d361-405a-bdaa-aabdea8310e0" >
        <http:listener doc:name="Listener" doc:id="fa7475a9-6b06-4b7c-821f-38f7f145f520" config-ref="HTTP_Listener_config" path="/api/organizations/{id}" allowedMethods="GET">
            <http:response >
                <http:headers ><![CDATA[#[output application/java
                ---
                {
                    "Access-Control-Allow-Origin" : "*",
                    "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                    "Access-Control-Allow-Headers" : "*",
                    "Access-Control-Allow-Credentials" : "true"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="7f4189b8-cc9c-4d68-a8d1-6a30d4c35488" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns web http://organization.lab4.soa/
---
{
	web#getOrganization: {
		web#id: attributes.uriParams.id
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="getOrganization" doc:name="Consume" doc:id="ee34237e-19d5-4336-aba1-e4af32a5ac26" config-ref="Web_Service_Consumer_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="b60121aa-b018-48af-b5f7-5049c9ff232a" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.getOrganizationResponse.organization   ]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>











    <flow name="createOrganization" doc:id="1b97b845-fdba-4826-8d80-41d71418e205">
        <http:listener doc:name="Listener" doc:id="8dcc5789-b2de-482e-9d4f-9cc3646575c5" config-ref="HTTP_Listener_config" path="/api/organizations/" allowedMethods="POST">
            <http:response>
                <http:headers><![CDATA[#[output application/java
            ---
            {
                "Access-Control-Allow-Origin" : "*",
                "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                "Access-Control-Allow-Headers" : "*",
                "Access-Control-Allow-Credentials" : "true"
            }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="bed19e8e-2ea0-408a-8dec-8eeca0c5d21c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/xml
ns tns http://organization.lab4.soa/
---
{
    tns#createOrganization: {
        tns#organization: {
            tns#name: payload.name,
            tns#fullName: payload.fullName,
            tns#annualTurnover: payload.annualTurnover,
            tns#employeesCount: payload.employeesCount,
            tns#coordinates: {
                tns#x: payload.coordinates.x,
                tns#y: payload.coordinates.y
            },
            tns#creationDate: payload.creationDate,
            tns#officialAddress: {
                tns#zipCode: payload.officialAddress.zipCode
            },
            tns#orgType: payload.orgType
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <wsc:consume operation="createOrganization" doc:name="Consume" doc:id="9185c07a-66f7-478f-ba70-6a4341b57120" config-ref="Web_Service_Consumer_Config"/>

        <ee:transform doc:name="Transform Message" doc:id="39659def-5d11-4b78-90e0-5f993e9ae588">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.body.createOrganizationResponse.organization]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>



</mule>
