<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
    http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c48fb43c-d4c0-4ff4-92d0-ea639275e2ee" >
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="7d02329f-b685-44d4-87e0-229e49e5043f" >
        <wsc:connection wsdlLocation="organization-service.wsdl" service="OrganizationServiceBeanService" port="OrganizationServiceBeanPort" address="http://localhost:8080/ws/organization" />
    </wsc:config>

    <flow name="getAll" doc:id="968edd93-685d-4467-a0ea-bb228bb4dbb4" >
        <http:listener doc:name="Listener" doc:id="163747bb-f9e9-4c6e-b781-12654ebb1a38" config-ref="HTTP_Listener_config" path="/api/organizations" allowedMethods="GET">
            <http:response >
                <http:headers ><![CDATA[#[output application/java
                ---
                {
                    "Access-Control-Allow-Origin" : "*",
                    "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                    "Access-Control-Allow-Headers" : "*",
                    "Access-Control-Allow-Credentials" : "true"
                }]]]></http:headers>
            </http:response>
        </http:listener>

        <ee:transform doc:name="Transform Message" doc:id="4769dd7a-dbc9-4f0b-a840-1dc3e2b53ade">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output text/xml skipNullOn="everywhere"
                ns web http://organization.lab4.soa/
                ---
                {
                     web#getFilteredOrganizations: {
                        web#creationDate: attributes.queryParams.creationDate,
                        web#annualTurnover: attributes.queryParams.annualTurnover,
                        web#sort: attributes.queryParams.sort
                     }
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <wsc:consume operation="getFilteredOrganizations" doc:name="Consume" doc:id="395ca49b-6a8a-4aa0-a2a2-2f1307719cf2" config-ref="Web_Service_Consumer_Config"/>

        <!-- Преобразование XML в JSON -->
        <ee:transform doc:name="XML to JSON" doc:id="8de540c2-6f76-4954-99b8-432f76a15159">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "organizations": payload.body.getFilteredOrganizationsResponse.*organizations map (org) -> {
    "id": org.id,
    "name": org.name,
    "fullName": org.fullName,
    "annualTurnover": org.annualTurnover,
    "employeesCount": org.employeesCount,
    "coordinates": {
      "x": org.coordinates.x,
      "y": org.coordinates.y
    },
    "creationDate": org.creationDate,
    "officialAddress": {
      "zipCode": org.officialAddress.zipCode
    },
    "orgType": org.orgType
  }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>



    <flow name="getOrganization" doc:id="47d06da2-d361-405a-bdaa-aabdea8310e0" >
        <http:listener doc:name="Listener" doc:id="fa7475a9-6b06-4b7c-821f-38f7f145f520" config-ref="HTTP_Listener_config" path="/api/organizations/{id}" allowedMethods="GET">
            <http:response >
                <http:headers ><![CDATA[#[output application/java
                ---
                {
                    "Access-Control-Allow-Origin" : "*",
                    "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                    "Access-Control-Allow-Headers" : "*",
                    "Access-Control-Allow-Credentials" : "true"
                }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="7f4189b8-cc9c-4d68-a8d1-6a30d4c35488" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns web http://organization.lab4.soa/
---
{
	web#getOrganization: {
		web#id: attributes.uriParams.id
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="getOrganization" doc:name="Consume" doc:id="ee34237e-19d5-4336-aba1-e4af32a5ac26" config-ref="Web_Service_Consumer_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="b60121aa-b018-48af-b5f7-5049c9ff232a" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.getOrganizationResponse.organization   ]]></ee:set-payload>
            </ee:message>
        </ee:transform>

    </flow>











    <flow name="createOrganization" doc:id="9506d767-930e-416f-abe0-e09007a8b6d5">
        <http:listener doc:name="Listener" doc:id="99b94089-21f1-4337-bce4-47b73cbbd20f" config-ref="HTTP_Listener_config" path="/api/organizations" allowedMethods="POST">
            <http:response>
                <http:headers><![CDATA[#[output application/java
            ---
            {
                "Access-Control-Allow-Origin" : "*",
                "Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
                "Access-Control-Allow-Headers" : "*",
                "Access-Control-Allow-Credentials" : "true"
            }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="00eba00d-e585-4943-b94b-8bffdd94586f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns tns http://organization.lab4.soa/
---
{
    tns#createOrganization: {
        tns#organization: {
            tns#name: payload.name,
            tns#fullName: payload.fullName,
            tns#annualTurnover: payload.annualTurnover,
            tns#employeesCount: payload.employeesCount,
            tns#coordinates: {
                tns#x: payload.coordinates.x,
                tns#y: payload.coordinates.y
            },
            tns#creationDate: payload.creationDate,
            tns#officialAddress: {
                tns#zipCode: payload.officialAddress.zipCode
            },
            tns#orgType: payload.orgType
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <wsc:consume operation="createOrganization" doc:name="Consume" doc:id="0d41cdc2-6374-446d-b139-61c0012caf6e" config-ref="Web_Service_Consumer_Config"/>

        <ee:transform doc:name="Transform Message" doc:id="581c7a78-0c19-4e7b-9745-93572d4a5e39">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.body.createOrganizationResponse.organization]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>














    <flow name="updateOrganization" doc:id="9219f449-952b-4edb-b71f-a0a06cfb2cbe">
        <http:listener doc:name="Listener" doc:id="0ae9f1b2-feb4-4a89-afa5-d35ef3d0817c" config-ref="HTTP_Listener_config" path="/api/organizations/{id}" allowedMethods="PUT">
            <http:response>
                <http:headers><![CDATA[#[output application/java
            ---
            {
                "Access-Control-Allow-Origin" : "*",
                "Access-Control-Allow-Methods" : "*",
                "Access-Control-Allow-Headers" : "*",
                "Access-Control-Allow-Credentials" : "true"
            }]]]></http:headers>
            </http:response>
        </http:listener>

        <ee:transform doc:name="Transform Message" doc:id="62e2f337-ab40-45b2-be1b-65740288fc58">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns tns http://organization.lab4.soa/
---
{
    tns#updateOrganization: {
        tns#id: attributes.uriParams.id,
        tns#updatedOrganization: {
            tns#name: payload.name,
            tns#fullName: payload.fullName,
            tns#annualTurnover: payload.annualTurnover,
            tns#employeesCount: payload.employeesCount,
            tns#coordinates: {
                tns#x: payload.coordinates.x,
                tns#y: payload.coordinates.y
            },
            tns#creationDate: payload.creationDate,
            tns#officialAddress: {
                tns#zipCode: payload.officialAddress.zipCode
            },
            tns#orgType: payload.orgType
        }
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="updateOrganization" doc:name="Consume" doc:id="b62f1b7d-c8ec-47b3-b1ec-8700d5c1eb00" config-ref="Web_Service_Consumer_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="eba65fd1-ae08-49f4-aa9e-b52c89dc73bb">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
ns ns0 http://organization.lab4.soa/
output application/json
---
payload.body]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>









    <flow name="deleteOrganization" doc:id="1b8d7549-5431-4647-827c-7845a690a528" >
        <http:listener doc:name="Listener" doc:id="5709bb82-8983-4502-b905-cc7475e05f26" config-ref="HTTP_Listener_config" path="/api/organizations/{id}" allowedMethods="DELETE">
            <http:response>
                <http:headers><![CDATA[#[output application/java
	            ---
	            {
	                "Access-Control-Allow-Origin" : "*",
	                "Access-Control-Allow-Methods" : "*",
	                "Access-Control-Allow-Headers" : "*",
	                "Access-Control-Allow-Credentials" : "true"
	            }]]]></http:headers>
            </http:response>
        </http:listener>
        <ee:transform doc:name="Transform Message" doc:id="7b37c409-091a-499e-8577-a519497374ad" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns org http://organization.lab4.soa/
---
{
    org#deleteOrganization: {
        org#id: attributes.uriParams.id as String
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="deleteOrganization" doc:name="Consume" doc:id="429d4d47-6b86-479b-b099-37ec8129fb41" config-ref="Web_Service_Consumer_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="d05cbf61-9d85-4723-94d0-8e00f3d8da54" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://organization.lab4.soa/
output application/json
---
payload.body.deleteOrganizationResponse.result
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="countByEmployeesCount" doc:id="a1cbd04f-17b1-4ef2-8d9b-094ccfa1d310" >
        <http:listener doc:name="Listener" doc:id="1319c469-0474-4d5b-931b-ca7e42aa406e" config-ref="HTTP_Listener_config" path="/api/organizations/count-by-employees" allowedMethods="GET"/>
        <ee:transform doc:name="Transform Message" doc:id="ddcd0594-37ae-4dfd-a0ce-c74a93ad0a80" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns org http://organization.lab4.soa/
---
{
    org#countByEmployeesCount: {
        org#count: payload.count
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume doc:name="Consume" doc:id="e5a31761-3063-425d-a784-87845c1dc741" config-ref="Web_Service_Consumer_Config" operation="countByEmployeesCount"/>
        <ee:transform doc:name="Transform Message" doc:id="90b78ce7-9dfe-4ba1-a7f3-f07f0c69b1e9" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.body.countByEmployeesCountResponse.count]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="soa4Flow" doc:id="9fd3b2b3-5b1a-4d55-9b6a-8a4f33a91814" >
        <http:listener doc:name="Listener" doc:id="259bb85d-b478-486e-95c5-2fa49b09e11c" config-ref="HTTP_Listener_config" path="/api/organizations/search-by-fullname" allowedMethods="GET"/>
        <ee:transform doc:name="Transform Message" doc:id="31c50d86-5e73-437e-a5ec-4ad2a6c7d366" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output text/xml skipNullOn="everywhere"
ns org http://organization.lab4.soa/
---
{
    org#searchByFullName: {
        org#substring: payload.substring
    }
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <wsc:consume operation="searchByFullName" doc:name="Consume" doc:id="fd59b980-3a6f-474e-9224-0c3dee76d4ef" config-ref="Web_Service_Consumer_Config"/>
        <ee:transform doc:name="Transform Message" doc:id="8ad13ecd-6e9c-4042-aa76-9a7045de57d8" >
            <ee:message >
                <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload.body.searchByFullNameResponse.*organizations map (org) -> {
    "id": org.id,
    "name": org.name,
    "fullName": org.fullName,
    "annualTurnover": org.annualTurnover,
    "employeesCount": org.employeesCount,
    "coordinates": {
      "x": org.coordinates.x,
      "y": org.coordinates.y
    },
    "creationDate": org.creationDate,
    "officialAddress": {
      "zipCode": org.officialAddress.zipCode
    },
    "orgType": org.orgType
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
